@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000300;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(85, 231, 153, 0.8),
    hsla(166, 54%, 60%, 0.8)
  )!important;
}